<!DOCTYPE HTML>
<html>
	<head>
		{% load static %}
		{% block content %}
		<title>Corona Integrated Information System</title>
		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main/main.css' %}">
		<script src="http://code.jquery.com/jquery-latest.js"></script><! jquery 이용해야함 >
        <script type="text/javascript" src="{% static 'js/main/gps.js' %}"></script><! gps값 >
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
	<body class="is-preload" style="background-color:white;">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="main.html">Covid-19 Integrated Information System</a></h1>

						<div class="search">

							<input type="text" id="searchInput" placeholder="지역검색" style="margin-left: 20px; width: 200px;">
						  </div>
					</header>

				<!-- Menu -->


						<!-- Actions -->


				<!-- Main -->
					<div id="main">

						<!-- Post -->
						<article class="post">
							<header>
								<div class="title">
									<h2>
									<div id="location">
									</div>
									</h2>
								</div>

							</header>

							{% include "./junsu.html" %}
							<footer>


							</footer>
						</article>


						<!-- Post -->
						{% include "./gnews.html" %}




					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<header>
									<h2>Covid-19 Integrated Information System</h2>
									<p>코로나 통합정보시스템 ... ~~</p>
								</header>
							</section>

						<!-- Mini Posts -->
							<section>
								<ul>
									<a href="/" class="btn"><span class="btn">확진자     </span></a></br>
									<a href="/news_page" class="btn"><span class="btn">지역 뉴스     </span></a></br>
									<a href="/gnews_page" class="btn"><span class="btn">정부 뉴스    </span></a></br>
									<a href="/pandj_page" class="btn"><span class="btn">확진경로 재난문자</span></a></br>
									<a href="/calendar" class="btn"><span class="btn">캘린더        </span></a></br>
									<a href="/index1" class="btn"><span class="btn">QnA 게시판       </span></a></br>
								</ul>
							</section>

						<!-- JHB logo -->
							   <section id="JHB">
            <a href="https://github.com/Kim-JeongUng/Corona_korea_keep-distance" target="_blank"><img src="https://user-images.githubusercontent.com/82865325/144235816-29fcc792-d00e-4330-842e-07f4ba30428d.png"></a>
        </section>

						<!-- Footer -->
					</section>

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/main/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/main/browser.min.js' %}"></script>
			<script src="{% static 'js/main/jquery.min.js' %}"></script>
			<script src="{% static 'js/main/main.js' %}"></script>
			<script src="{% static 'js/main/util.js' %}"></script>
 {% endblock %}

	</body>
</html>