<!DOCTYPE HTML>
<html>
	<head>
		{% load static %}
		{% block content %}
		<title>Corona Integrated Information System</title>
		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main/main.css' %}">
		<script src="http://code.jquery.com/jquery-latest.js"></script><! jquery 이용해야함 >
        <script type="text/javascript" src="{% static 'js/main/gps.js' %}"></script><! gps값 >
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="main.html">Covid-19 Integrated Information System</a></h1>

						<div class="search">

							<input type="text" id="searchInput" placeholder="지역검색" style="margin-left: 20px; width: 200px;">
						  </div>
						<nav class="login">
							<ul>
								<a class="actions">
									<a href="login.html" class="button large">Log In</a>
								</a>
							</ul>
						</nav>
					</header>

				<!-- Menu -->


						<!-- Actions -->


				<!-- Main -->
					<div id="main">

						<!-- Post -->
						<article class="post">
							<header>
								<div class="title">
									<h2>
									<div id="location">
									</div>
									</h2>
								</div>

							</header>

							{% include "./junsu.html" %}
							<footer>
								<ul class="actions">
									<li><a href="single.html" class="button large">지역 바꾸기</a></li>
								</ul>

							</footer>
						</article>


						<!-- Post -->
						{% include "./CovidPatientPrediction.html" %}

						<!-- Post -->
						<article class="post">
							<header>
							 {% include "./calendar.html" %}
							</header>
							<p>요기 위에 달력 들어갈 거임</p>
							<footer>
								<ul class="actions">
									<li><a href="single.html" class="button large">Continue Reading</a></li>
								</ul>
								<ul class="stats">
									<li><a href="#">General</a></li>
									<li><a href="#" class="icon solid fa-heart">28</a></li>
									<li><a href="#" class="icon solid fa-comment">128</a></li>
								</ul>
							</footer>
						</article>


						<!-- Pagination -->
							<ul class="actions pagination">
								<li><a href="" class="disabled button large previous">Previous Page</a></li>
								<li><a href="#" class="button large next">Next Page</a></li>
							</ul>

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<header>
									<h2>Covid-19 Integrated Information System</h2>
									<p>코로나 통합정보시스템 ... ~~</p>
								</header>
							</section>

						<!-- Mini Posts -->
							<section>
									<a href="/" class="btn"><span class="btn">확진자     </span></a></br>
									<a href="/news_page" class="btn"><span class="btn">지역 뉴스     </span></a></br>
									<a href="/gnews_page" class="btn"><span class="btn">정부 뉴스    </span></a></br>
									<a href="/pandj_page" class="btn"><span class="btn">확진경로 재난문자</span></a></br>
									<a href="#" class="btn"><span class="btn">캘린더        </span></a></br>
								</ul>
							</section>

						<!-- Posts List -->
<!--							<section>-->
<!--								<ul class="posts">-->
<!--									<li>-->
<!--										<article>-->
<!--											<header>-->
<!--												<h3><a href="single.html">뉴스1</a></h3>-->
<!--												<time class="published" datetime="2015-10-20">October 20, 2015</time>-->
<!--											</header>-->
<!--										</article>-->
<!--									</li>-->
<!--									<li>-->
<!--										<article>-->
<!--											<header>-->
<!--												<h3><a href="single.html">뉴스2</a></h3>-->
<!--												<time class="published" datetime="2015-10-15">October 15, 2015</time>-->
<!--											</header>-->
<!--										</article>-->
<!--									</li>-->
<!--									<li>-->
<!--										<article>-->
<!--											<header>-->
<!--												<h3><a href="single.html">뉴스3</a></h3>-->
<!--												<time class="published" datetime="2015-10-10">October 10, 2015</time>-->
<!--											</header>-->
<!--										</article>-->
<!--									</li>-->
<!--									<li>-->
<!--										<article>-->
<!--											<header>-->
<!--												<h3><a href="single.html">뉴스4</a></h3>-->
<!--												<time class="published" datetime="2015-10-08">October 8, 2015</time>-->
<!--											</header>-->
<!--										</article>-->
<!--									</li>-->
<!--									<li>-->
<!--										<article>-->
<!--											<header>-->
<!--												<h3><a href="single.html">뉴스5</a></h3>-->
<!--												<time class="published" datetime="2015-10-06">October 7, 2015</time>-->
<!--											</header>-->
<!--										</article>-->
<!--									</li>-->
<!--								</ul>-->
<!--							</section>-->

						<!-- About -->
<!--							<section class="blurb">-->
<!--								<h2>About</h2>-->
<!--								<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>-->

<!--							</section>-->

						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/main/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/main/browser.min.js' %}"></script>
			<script src="{% static 'js/main/jquery.min.js' %}"></script>
			<script src="{% static 'js/main/main.js' %}"></script>
			<script src="{% static 'js/main/util.js' %}"></script>
 {% endblock %}

	</body>
</html>