<div id="id_div">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">



function get_geo(){
    if(!!navigator.geolocation){
        navigator.geolocation.getCurrentPosition(successCallback,errorCallback);
    }
    else{
        alert("위치 확인 불가");
    }
}
function successCallback(position){
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
    var url = "gps/"+lng+"/"+lat;
    var result = $.get(url, function(data){
                    url = "news/"+data;
                var result = $.get(url, function(data2){
                document.getElementById("news_list").innerHTML = data2;
	            });
        });
}
function errorCallback(){
                alert("error");
}

get_geo();

    </script>
    <p id="news_list"></p></br>
</div>