
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<div>
        <div>
        하하
            {% for logindb in login %}
            {{logindb.login_id}}
            {{logindb}}
            {% endfor %}
            {% for login in login %}
            {{login.login_id}}
            {{login}}
            {% endfor %}
            {% for login in logindb %}
            {{login.login_id}}
            {{login}}
            {% endfor %}
            {% for results in result %}
            {{results.login_password}}
            {{results}}
            {% endfor %}

        </div>

      <div>
               {% for i in data_list %}
				{{ i[0] }}
            	{% endfor %}
      </div>

</div>

</body>
</html>